<!DOCTYPE html>
<html lang="en">
  <head>
    <%- include('../partials/head'); %>
  </head>
  <body>
    <header><%- include('../partials/header'); %></header>

    <content><%- include('../partials/example'); %></content>

    <footer style="margin-top: 40px; width: 100%"><%- include('../partials/footer'); %></footer>
  </body>
</html>
