<!DOCTYPE html>
<html lang="en">
  <head>
    <%- include('../partials/head'); %>
  </head>
  <body>
    <header><%- include('../partials/header'); %></header>

    <content>
      <div class="container pt-5">
        <div class="user_request">
          <h2>user data</h2>
          <button type="button" id="user_request_btn" value="data" class="btn btn-outline-primary">
            Try
          </button>
          <p>make request1</p>
          <hr />
        </div>
        <div class="user_request">
          <h2>get favorite movies</h2>
          <button type="button" id="user_request_btn" value="get" class="btn btn-outline-primary">
            Try
          </button>
          <ul class="list-group">
            make request2
          </ul>
          <hr />
        </div>
        <div class="user_request">
          <h2>add favorite movies</h2>
          <input type="text" id="user_request_input_put" name="name" size="24" />
          <button type="button" id="user_request_btn" value="put" class="btn btn-outline-primary">
            Try
          </button>
          <ul class="list-group">
            make request3
          </ul>
          <hr />
        </div>
        <!-- <div class="user_request">
          <h2>update favorite movies</h2>
          <button type="button" id="user_request_btn" value="put2" class="btn btn-outline-primary">
            Try
          </button>
          <ul class="list-group">
            make request4
          </ul>
          <hr />
        </div> -->
        <div class="user_request">
          <h2>delete favorite movies</h2>
          <input type="text" id="user_request_input_delete" name="name" size="24" />
          <button
            type="button"
            id="user_request_btn"
            value="delete"
            class="btn btn-outline-primary"
          >
            Try
          </button>
          <ul class="list-group">
            make request5
          </ul>
          <hr />
        </div>
      </div>
    </content>

    <script>
      document.querySelectorAll('#user_request_btn').forEach((element) => {
        element.addEventListener('click', async () => {
          const output = element.nextElementSibling;
          const req_type = element.getAttribute('value');
          if (req_type == 'data') {
            await fetch('/user/profile')
              .then((response) => response.json())
              .then((data) => {
                console.log(data);
                output.innerHTML = data.email;
              });
          } else if (req_type == 'get') {
            output.innerHTML = '';
            await fetch('user/favorites')
              .then((response) => response.json())
              .then((data) => {
                console.log(data);
                // Check if an error was sent -> status(404)
                if (Array.isArray(data) === false) {
                  output.innerHTML = `${data}`;
                }
                // Else, no error code, so we have an array
                else {
                  if (data[0].movies.length > 0) {
                    data[0].movies.forEach((movie) => {
                      findMoviebyID(movie).then((data) => {
                        console.log(data._id);
                        output.innerHTML += renderMovie(data);
                      });
                    });
                  } else {
                    output.innerHTML += `User does not have favorite movies`;
                  }
                }
              });
          } else if (req_type == 'put') {
            // console.log('make');
            const id = document.querySelector('#user_request_input_put').value;
            if (id === '') {
              output.innerHTML = 'Movie ID is required 🤨';
              return;
            }

            console.log(id);
            await fetch(`/user/favorites/${id}`, {
              method: 'PUT',
              headers: {
                Accept: 'application/json',
                'Content-Type': 'application/json',
              },
            })
              .then((response) => response.json())
              .then((response) => {
                output.innerHTML = response;
                console.log(JSON.stringify(response));
              });
          } else if (req_type == 'delete') {
            const id = document.querySelector('#user_request_input_delete').value;
            if (id === '') {
              output.innerHTML = 'Movie ID is required 🤨';
              return;
            }
            await fetch(`/user/favorites/${id}`, {
              method: 'DELETE',
              headers: {
                Accept: 'application/json',
                'Content-Type': 'application/json',
              },
            })
              .then((response) => response.json())
              .then((response) => {
                output.innerHTML = response;
                console.log(JSON.stringify(response));
              });
          }
        });
      });
    </script>

    <footer style="margin-top: 40px; width: 100%"><%- include('../partials/footer'); %></footer>
  </body>
</html>
